<div *ngIf="name"> <!--nglf name이라는 변수가 있으면 div를 생성한다는 뜻-->
    <h2 class="page-header">사용자 이름 : {{name}}</h2>
    <form>
        <div class="form-group">
            <label for="userinfo">userinfo</label>
            <textarea name="form-control" id="userinfo" rows="1" cols="100" disabled>{{userString}}</textarea><!--disabled 화면에 표시는 되지만 사용자가 편집하지 못하도록 하는것-->
        </div>

        <div class="form-group">
            <label for="token">token</label>
            <textarea name="form-control" id="token" rows="4" cols="100" disabled>{{token}}</textarea><!--disabled 화면에 표시는 되지만 사용자가 편집하지 못하도록 하는것-->
        </div>

        <div class="form-group">
            <label for="privateKey">Private Key</label>
            <textarea class="form-control" id="privateKey" rows="6" disabled>
            {{ privateKey }}</textarea >
            </div>
            <div class="form-group">
            <label for="cert">Certificate </label>
            <textarea class="form-control" id="cert" rows="6" disabled>
            {{ cert }}</textarea >
            </div>
            <div class="form-group">
            <label for="caCert">CA Certificate </label>
            <textarea class="form-control" id="caCert" rows="6" disabled>
            {{ caCert }}</textarea >
            </div>
    </form>
</div>

<!--data interpolation {{변수명}}
    -컨트롤러의 변수값이 화면에 표시됨
-->