<div class="p-5 mb-4 bg-secondary rounded-3 text-center">
<div class="container-fluid py-5 text-center">
<h1 class="display-5 fw-bold">MEAN Authentication App</h1>
<h1 class="display-5 fw-bold">91514701 김정식 "정보체계중대"</h1>
<p>Git : <a href="https://github.com/wjdtlr0822">https://github.com/wjdtlr0822</a></p>
<button class="btn btn-primary btn-lg" type="button" routerLink ="/register">Register</button>
&nbsp;
<button class="btn btn-success btn-lg" type="button" routerLink ="/login">Login</button>
</div>
<div>
<button class="btn btn-success btn-lg" type="button" routerLink ="/project">정보체계중대 Project</button><br><br>
</div>

<div class="container">
<div class="row text-center">
<div class="col">

<div class="card bg-warning" style="width: 18rem">
<div class="card-body">
<h5 class="card-title">Node.js Express</h5>
<h6 class="card-subtitle mb-2 text-muted">Backend</h6>
<p class="card-text">Node.js 와 Express 를 이용한 백엔드 개발 </p>
<a href class="card-link">Card link</a>
<a href class="card-link">Another link</a>
</div>
</div>
</div>

<div class="col">
<div class="card bg-info" style="width: 18rem">
<div class="card-body">
<h5 class="card-title">MongoDB</h5>
<h6 class="card-subtitle mb-2 text-muted">NoSQL DB</h6>
<p class="card-text">MongoDB Compass, MongoDB Atlas</p>
<a href class="card-link">Card link</a>
<a href class="card-link">Another link</a>
</div>
</div>
</div>

<div class="col">
<div class="card bg-danger" style="width: 18rem">
<div class="card-body">
<h5 class="card-title">Angular/CLI</h5>
<h6 class="card-subtitle mb-2 text-muted">Frontend</h6>
<p class="card-text">
Angular
Framework: Module, Component, Service, 2 way data binding
</p>
<a href class="card-link">Card link</a>
<a href class="card-link">Another link</a>
</div>
</div>
</div>

</div>
</div>